<?xml version="1.0" encoding="utf-8"?>
<!--
您 Web 项目的发布/打包进程将使用此文件。您可以通过编辑此 MSBuild 文件
来自定义该进程的行为。若要了解与此相关的详细信息，请访问 http://go.microsoft.com/fwlink/?LinkID=208121。
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Debug</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://999parcel.chinacloudsites.cn</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>999parcel.scm.chinacloudsites.cn:443</MSDeployServiceURL>
    <DeployIisAppPath>999parcel</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$999parcel</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="UK_ExpressEntities" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:fau29kf17y.database.chinacloudapi.cn,1433;Initial Catalog=999parcel;Integrated Security=False;User ID=lxl@fau29kf17y;Password=Lay@0622;Connect Timeout=30;Encrypt=True" Name="Server=tcp:fau29kf17y.database.chinacloudapi.cn,1433;Database=999parcel;User ID=lxl@fau29kf17y;Password=Lay@0622;Trusted_Connection=False;Encrypt=True;Connection Timeout=30;" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=localhost\sqlexpress;Initial Catalog=UK_Express;Integrated Security=True;Pooling=False;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\UK_ExpressEntities_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/App_Code.Model.csdl|res://*/App_Code.Model.ssdl|res://*/App_Code.Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost\sqlexpress;initial catalog=UK_Express;integrated security=True;pooling=False;multipleactiveresultsets=True;application name=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="UK_Express_Users" Order="2" Enabled="False">
          <Destination Path="Data Source=tcp:fau29kf17y.database.chinacloudapi.cn,1433;Initial Catalog=999parcel;Integrated Security=False;User ID=lxl@fau29kf17y;Password=Lay@0622;Connect Timeout=30;Encrypt=True" Name="Server=tcp:fau29kf17y.database.chinacloudapi.cn,1433;Database=999parcel;User ID=lxl@fau29kf17y;Password=Lay@0622;Trusted_Connection=False;Encrypt=True;Connection Timeout=30;" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=tcp:fau29kf17y.database.chinacloudapi.cn,1433;Initial Catalog=999parcel;Integrated Security=False;User ID=lxl@fau29kf17y;Password=Lay@0622;Connect Timeout=30;Encrypt=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\UK_Express_Users_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Server=tcp:fau29kf17y.database.chinacloudapi.cn,1433;Database=999parcel;User ID=lxl@fau29kf17y;Password=Lay@0622;Trusted_Connection=False;Encrypt=True;Connection Timeout=30;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)UK_ExpressEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/App_Code.Model.csdl|res://*/App_Code.Model.ssdl|res://*/App_Code.Model.msl;provider=System.Data.SqlClient;provider connection string="server=tcp:fau29kf17y.database.chinacloudapi.cn,1433;database=999parcel;user id=lxl@fau29kf17y;password=Lay@0622;trusted_connection=False;encrypt=True;connection timeout=30;MultipleActiveResultSets=True"</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)UK_Express_Users-Web.config Connection String">
      <ParameterValue>Server=tcp:fau29kf17y.database.chinacloudapi.cn,1433;Database=999parcel;User ID=lxl@fau29kf17y;Password=Lay@0622;Trusted_Connection=False;Encrypt=True;Connection Timeout=30;</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>